.textContainer {
    text-align: center;
    color: #fff;
}

.heading1 {
    font-size: 82px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    line-height: 114%;
    margin: 0px 0px;
    color: #fff;
}

.subText1 {
    font-family: 'Inter', sans-serif;
    color: #fff;
    letter-spacing: 2px;
}

.buttonStyle {
    background: var(--star-green, linear-gradient(90deg, #FFE000 0%, #7DFF16 100%));
    border: none;
    padding: 18px 45px;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.buttonContainer {
    padding: 30px;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.specialText {
    background-image: linear-gradient(90deg, #FFE000 0%, #7DFF16);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}